/* Importation des fonts */

@font-face {
  font-family: "SEGOEUI";

  /* Creation d'un raccourci */

  src: url(../font/SEGOEUI.TTF);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "playfairDR", serif;
}
.bma {
  padding: 5rem;
  margin: 5rem;
  border: 1px solid black;
  border-radius: 5rem;
}
#img-header .archi {
  display: none;
}
#brimg {
  background-color: rgba(0, 0, 0, 0.658);
  font-weight: bold;
  font-size: 5rem;
  padding: 1rem;
}

img,
input {
  width: 100%;
}

/* Pour appeler l'id Logo j'utilise le selecteur id# et son nom logo */
#logo {
  color: #130202;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}
#burger {
  padding: 1rem;
}
h1 {
  font-size: 10rem;
  color: rgb(255, 255, 255);
}
.blue {
  color: blue;
}
/* pour appeler un element HTML  dans un selecteur j'utilise son nom */

nav {
  display: flex;
  /* pour( gérer l'alignement vertical des enfants de ma nav j'utilise align-items: ;) */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 11px 5px -6px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 11px 5px -6px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 11px 5px -6px rgba(0, 0, 0, 0.76);
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;

  z-index: 1;
  height: 8vh;
  top: 0;
}

h2 {
  display: flex;
  align-items: center;
}

header ul {
  list-style-type: none;
  display: none;

  position: absolute;
  background-color: rgb(249, 250, 250);
  top: 8vh;
}

header li {
  margin: 2rem;
}

#check {
  display: none;
}

#check:checked ~ ul {
  display: flex;
}

#img-header {
  background-image: url(../img/architect.jpg);
  background-position: center;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 55px;
}

#gallery span {
  background-color: #171718;
  color: aliceblue;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#gallery div {
  position: relative;
  vertical-align: bottom;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  padding-right: 50px;

}
#About{
 


}



 #cards{
display: flex;
flex-wrap: wrap;
height: 30vh;
width: 100%;
padding: right 0; ;
margin-top: 55px;;


}



